label,
#toggle {
    display: none;
}


@media all and (max-width: 991px) {

    .c_profil {


        flex-direction: column;

        flex-wrap: wrap;

        justify-content: flex-start;

        align-content: center;

        align-items: center;

    }

    .carte.carte_agrandi {

        top: 0;
    }

    .responsive {
        display: flex;
        flex-direction: row;
        width: 100%;
        left: 0;
        font-size: 40px;
        justify-content: space-between;
        color: white;

        background: #3C096C;
    }

    #photo {
        background: none;
    }

    .affiche_notif {
        left: 0;
        height: 0px;
        width: 0%;
        top: 60px;
        display: flex;
        flex-direction: column;
        transition: 1s;
    }

    .affiche_notif.active {

        /* display:flex; */
        width: 100%;
        height: fit-content;

    }

    #notif {
        display: block;
    }

    .btn_connexion #notif2 img {
        display: none;
    }

    .affiche_notif p {
        display: none;
        opacity: 0;
        transition: 1s
    }

    .affiche_notif.active p {
        opacity: 1;
        display: block;
    }

    .edit {
        margin-left: 70%;
    }

    .gauche {

        margin: auto;
    }

    .header {
        height: 60px;
    }

    .header {
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        height: 100%;
    }

    .liste_match,
    .title,
    .btn_connexion {
        margin: 1rem;
    }

    .header .title {
        display: none;
    }

    .title {

        font-size: 20px;
    }

    .filtre {
        flex-direction: column;
    }

    .filtre .filtre-titre {
        margin-bottom: 1rem;
    }

    .filtre p {
        margin-bottom: 5px;
    }

    .conteneur_de_cartes {
        padding-top: 200px;
    }

    label {
        width: fit-content;
        display: flex;
        left: 0;
        font-size: 40px;
        justify-content: space-between;
        color: white;
        cursor: pointer;
        background: #3C096C;
    }

    .responsive a img {
        width: 30px;
    }

    .responsive a {
        display: flex;
        width: 30px;
        justify-content: center;
        margin: 20px;
    }

    .imp {
        background: transparent;
    }

    .responsive span {
        margin-left: 10px;
    }

    #toggle:checked+.header {
        display: flex;
    }

    #toggle:checked+.conteneur {
        display: none;
    }

    .header p {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
    }

    .header p .liste_match {
        width: 80%;
        text-align: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.544);
        padding-bottom: 1rem;
        padding-top: 1rem;
        margin: 0;
    }

    .header .btn_connexion {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header .btn_connexion #notif,
    #profil,
    #mes_matchs {
        width: 80%;
        text-align: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.544);
        padding-bottom: 1rem;
        padding-top: 1rem;
        margin: 0;
    }

    .header .btn_connexion #notif {
        display: none;
    }

    .text-connexion {
        background: none;
        padding-bottom: 1rem;
        padding-top: 1rem;

    }

}